<header>
    <nav class="w-screen">

        <!-- FOR SM DEVICE -->
        <div class="sm:hidden text-right">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToHome()">
                    <span>Home</span>
                </button>
                <button mat-menu-item (click)="goToProject()">
                    <span>Project</span>
                </button>
                <button mat-menu-item (click)="goToAbout()">
                    <span>About</span>
                </button>
                <!-- <button mat-menu-item (click)="goToLearn()">
                    <span>Learn</span>
                </button> -->
                <button mat-menu-item (click)="openSecretKeyDialog()">
                    <span>Secret Key</span>
                </button>
            </mat-menu>
        </div>

        <!-- FOR MD, LG & MORE DEVICE -->
        <div class="hidden sm:flex px-10 pb-10 pt-5">
            <div class="mr-auto border-2 border-black p-1 rounded" (click)="goToHome()">
                <img src="../../assets/personal_logo.png" alt="personal_logo" class="h-12 w-12 cursor-pointer">
            </div>
            <div class="flex items-center">
                <ul class="flex">
                    <li class="px-10">
                        <a (click)="goToHome()" class="border-b-2 border-white hover:border-blue-800 cursor-pointer">
                            HOME
                        </a>
                    </li>
                    <li class="px-10">
                        <a (click)="goToProject()" class="border-b-2 border-white hover:border-blue-800 cursor-pointer">
                            PROJECT
                        </a>
                    </li>
                    <li class="px-10">
                        <a (click)="goToAbout()" class="border-b-2 border-white hover:border-blue-800 cursor-pointer">
                            ABOUT
                        </a>
                    </li>
                    <!-- <li class="px-10">
                        <a (click)="goToLearn()" class="border-b-2 border-white hover:border-blue-800 cursor-pointer">
                            LEARN
                        </a>
                    </li> -->
                    <li class="px-10">
                        <a (click)="openSecretKeyDialog()" class="border-b-2 border-white hover:border-blue-800 cursor-pointer">
                            SECRET KEY
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      
    </nav>
  </header>