<header>
    <nav class="w-screen">

        <!-- FOR SM DEVICE -->
        <div class="sm:hidden text-right">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToHome()">
                    <span>Home</span>
                </button>
                <button mat-menu-item (click)="goToProject()">
                    <span>Project</span>
                </button>
                <button mat-menu-item (click)="goToAbout()">
                    <span>About</span>
                </button>
                <button mat-menu-item (click)="goToGame()">
                    <span>Play Game</span>
                </button>
                <button mat-menu-item (click)="openSecretKeyDialog()">
                    <span>Secret Key</span>
                </button>
            </mat-menu>
        </div>

        <!-- FOR MD, LG & MORE DEVICE -->
        <div class="hidden sm:flex p-10">
            <div class="mr-auto">
                <img src="../../assets/me.jpg" alt="personal_logo" class="h-8 w-8 rounded-full">
            </div>
            <div class="flex items-center">
                <ul class="flex">
                    <li class="px-10">
                        <a (click)="goToHome()" class="border-b-2 border-white hover:border-red-300 hover:text-gray-400">
                            HOME
                        </a>
                    </li>
                    <li class="px-10">
                        <a (click)="goToProject()" class="border-b-2 border-white hover:border-red-300 hover:text-gray-400">
                            PROJECT
                        </a>
                    </li>
                    <li class="px-10">
                        <a (click)="goToAbout()" class="border-b-2 border-white hover:border-red-300 hover:text-gray-400">
                            ABOUT
                        </a>
                    </li>
                    <li class="px-10">
                        <a (click)="goToGame()" class="border-b-2 border-white hover:border-red-300 hover:text-gray-400">
                            PLAY GAME
                        </a>
                    </li>
                    <li class="px-10">
                        <a (click)="openSecretKeyDialog()" class="border-b-2 border-white hover:border-red-300 hover:text-gray-400">
                            SECRET KEY
                        </a>
                    </li>
                </ul>
            </div>
        </div>
      
    </nav>
  </header>