<div>

    <!-- Presentation -->
    <div class="flex justify-center mx-5 sm:mx-0">
        <h1 class="text-bold font-light text-5xl sm:text-6xl font-sans subpixel-antialiased">
            Hi!
            <br>
            I'm Filippo Erbisti.
            <br>
            <div>
                I'm a Full Stack Developer.
                <div class="text-xl text-center sm:text-right">
                    <small class="mr-2">Front-End Developer</small>
                    +
                    <small class="ml-2">Back-End Developer</small>
                </div>
            </div>
        </h1>
    </div>

    <div class="w-1/3 mx-auto border-b-2 my-6 border-gray-400"></div>

    <!-- Skill Section -->
    <div class="w-2/3 mx-auto">
        <h1 class="font-light text-3xl text-center">SKILLS</h1>
        <div class="grid grid-cols-2 gap-8">
            <div>
                <h2 class="text-lg">Angular <span class="font-bold">{{angularSkill}} %</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/third-part/angular.png" alt="icon_angular">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="angularSkill">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">Laravel <span class="font-bold">{{laravelSkill}} %</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/third-part/laravel.png" alt="icon_laravel">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="laravelSkill">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">Vue.js <span class="font-bold">{{vueSkill}} %</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/third-part/vue.png" alt="icon_vue">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="vueSkill">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">MYSQL <span class="font-bold">{{sqlSkill}} %</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/third-part/mysql.png" alt="icon_mysql">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="sqlSkill">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">CSS <span class="font-bold">{{cssSkill}} %</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/third-part/css.png" alt="icon_css">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="cssSkill">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">PHP <span class="font-bold">{{phpSkill}} %</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/third-part/php.png" alt="icon_php">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="phpSkill">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">TS <span class="font-bold">{{typescriptSkill}} %</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/third-part/typescript.png" alt="icon_typescript">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="typescriptSkill">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">C# <span class="font-bold">{{csharpSkill}} %</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/third-part/csharp.png" alt="icon_c#">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="csharpSkill">
                    </mat-progress-bar>
                </div>
            </div>
        </div> 
 
    </div>

    <div class="w-1/3 mx-auto border-b-2 my-6 border-gray-400"></div>

    <!-- Service Section -->
    <div class="w-2/3 mx-auto">
        <h1 class="font-light text-3xl text-center pb-5">SERVICES</h1>
        
        <!-- Service -->
        <div class="flex flex-col sm:grid sm:grid-cols-3 sm:gap-32 gap-8">
            <div class="sm:flex sm:flex-col sm:items-center">
                <h1 class="text-xl sm:pb-5">Database</h1>
                <div class="text-lg pl-5 sm:pl-0">
                    <ol>Database Structure</ol>
                    <ol>Data Analysis</ol>
                    <ol>Query</ol>
                </div>
            </div>      
            <div class="sm:flex sm:flex-col sm:items-center">
                <h1 class="text-xl sm:pb-5">Back-Office</h1>
                <div class="text-lg pl-5 sm:pl-0">
                    <ol>Data Management</ol>
                    <ol>Automation</ol>
                    <ol>Command Actions</ol>
                </div>
            </div>
            <div class="sm:flex sm:flex-col sm:items-center">
                <h1 class="text-xl sm:pb-5">Front-Office</h1>
                <div class="text-lg pl-5 sm:pl-0">
                    <ol>User Layout</ol>
                    <ol>User Interface</ol>
                    <ol>User Friendly</ol>
                </div>
            </div>
        </div>
    </div>

    <div class="w-1/3 mx-auto border-b-2 my-6 border-gray-400"></div>

    <!-- Contact Me -->
    <div class="w-2/3 mx-auto">
        <h1 class="font-light text-3xl text-center pb-5">CONTACT ME</h1>
        <!-- PC -->
        <div class="sm:flex sm:flex-row hidden">
            <form [formGroup]='contactForm' name="contactForm" (ngSubmit)="onSubmit()" class="flex w-full">
                <div class="w-1/2">
                  <textarea id='message' name="message" formControlName="message" placeholder="Messaggio" cols="30" rows="10" class="border-2 rounded px-2" required></textarea>
                </div>
                <div class="flex flex-col justify-center w-full mx-28">
                  <label>Name: </label>
                  <input type='text' name="name" placeholder="Name" formControlName="name" class="border-2 rounded-full px-2 my-2" required/>
                  <label>Email: </label>
                  <input type='email' name="email" placeholder="Email" formControlName="email" class="border-2 rounded-full px-2 my-2" required/>
                  <label>Message:</label>
                  <button mat-button type="submit" [disabled]="contactForm.invalid" color="primary" class="bg-red-200 w-1/5">Send</button>
                </div>
            </form>
        </div>

        <!-- Mobile -->
        <div class="sm:hidden flex flex-col">
            <input type="text" placeholder="Name and Surname" class="border-2 rounded-full px-2 my-2">
            <input type="email" placeholder="Email" class="border-2 rounded-full px-2 my-2">
            <textarea name="" id="" cols="30" rows="10" class="border-2 my-2 rounded"></textarea>
            <button mat-button color="primary" class="bg-red-200 w-1/5">Send</button>
        </div>
    </div>

</div>