<div>

    <!-- Presentation MD device-->
    <div class="hidden sm:flex justify-center">
        <h1 class="text-bold font-light text-6xl font-sans subpixel-antialiased">
            Hi!
            <br>
            I'm Filippo Erbisti.
            <br>
            <div>
                I'm a Full Stack Developer.
                <div class="text-xl text-right">
                    <small class="mr-2">Front-End Developer</small>
                    +
                    <small class="ml-2">Back-End Developer</small>
                </div>
            </div>
        </h1>
    </div>

    <!-- Presentation Mobile device-->
    <div class="sm:hidden flex justify-center mx-5">
        <h1 class="text-bold font-light text-5xl font-sans subpixel-antialiased">
            Hi!
            <br>
            I'm Filippo Erbisti.
            <br>
            <div>
                I'm a Full Stack Developer.
                <div class="text-lg text-center">
                    <small class="mr-2">Front-End Developer</small>
                    +
                    <small class="ml-2">Back-End Developer</small>
                </div>
            </div>
        </h1>
    </div>

    <div class="w-1/3 mx-auto border-b-2 my-6 border-gray-400"></div>

    <!-- Skill Section -->
    <div class="w-2/3 mx-auto">
        <h1 class="font-light text-3xl text-center">SKILLS</h1>
        <div class="grid grid-cols-2 gap-8">
            <div>
                <h2 class="text-lg">Angular <span class="font-bold">85%</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/angular.png" alt="icon_angular">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="85">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">Laravel <span class="font-bold">80%</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/laravel.png" alt="icon_laravel">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="80">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">Vue.js <span class="font-bold">70%</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/vue.png" alt="icon_vue">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="70">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">MYSQL <span class="font-bold">85%</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/mysql.png" alt="icon_mysql">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="85">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">CSS <span class="font-bold">70%</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/css.png" alt="icon_css">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="70">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">PHP <span class="font-bold">75%</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/php.png" alt="icon_php">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="75">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg"><span class="hidden sm:flex">Javascript</span><span class="sm:hidden">JS</span><span class="font-bold"> 65%</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/javascript.png" alt="icon_javascript">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="65">
                    </mat-progress-bar>
                </div>
            </div>
            <div>
                <h2 class="text-lg">C# <span class="font-bold">50%</span></h2>
                <div class="flex items-center">
                    <img class="w-10 h-10 mr-2" src="../../assets/csharp.png" alt="icon_c#">
                    <mat-progress-bar
                        [color]="color"
                        [mode]="mode"
                        [value]="50">
                    </mat-progress-bar>
                </div>
            </div>
        </div> 
 
    </div>

    <div class="w-1/3 mx-auto border-b-2 my-6 border-gray-400"></div>

    <!-- Service Section -->
    <div class="w-2/3 mx-auto">
        <h1 class="font-light text-3xl text-center pb-5">SERVICES</h1>
        
        <!-- Service MD device-->
        <div class="md:grid grid-cols-3 gap-32 hidden">
            <div class="flex flex-col items-center">
                <h1 class="text-xl pb-5">Database</h1>
                <div class="text-lg">
                    <ol>Database Structure</ol>
                    <ol>Data Analysis</ol>
                    <ol>Query</ol>
                </div>
            </div>      
            <div class="flex flex-col items-center">
                <h1 class="text-xl pb-5">Back-Office</h1>
                <div class="text-lg">
                    <ol>Data Management</ol>
                    <ol>Automation</ol>
                    <ol>Command Actions</ol>
                </div>
            </div>
            <div class="flex flex-col items-center">
                <h1 class="text-xl pb-5">Front-Office</h1>
                <div class="text-lg">
                    <ol>User Layout</ol>
                    <ol>User Interface</ol>
                    <ol>User Friendly</ol>
                </div>
            </div>
        </div>

        <!-- Service Mobile device-->
        <div class="sm:flex sm:flex-col sm:hidden">
            <div class="pb-5">
                <h1 class="text-xl">Database</h1>
                <div class="text-lg pl-5">
                    <ol>Database Structure</ol>
                    <ol>Data Analysis</ol>
                    <ol>Query</ol>
                </div>
            </div>
            <div class="pb-5">
                <h1 class="text-xl">Back-Office</h1>
                <div class="text-lg pl-5">
                    <ol>Data Management</ol>
                    <ol>Automation</ol>
                    <ol>Command Actions</ol>
                </div>
            </div>
            <div>
                <h1 class="text-xl">Front-Office</h1>
                <div class="text-lg pl-5">
                    <ol>User Layout</ol>
                    <ol>User Interface</ol>
                    <ol>User Friendly</ol>
                </div>
            </div>
        </div>
    </div>

    <div class="w-1/3 mx-auto border-b-2 my-6 border-gray-400"></div>

    <!-- Contact Me -->
    <div class="w-2/3 mx-auto">
        <h1 class="font-light text-3xl text-center pb-5">CONTACT ME</h1>
        <div class="sm:flex hidden">
            <div class="w-1/2">
                <textarea name="" id="" cols="30" rows="10" class="border-2 rounded"></textarea>
            </div>
            <div class="w-1/2 flex flex-col justify-center">
                <input type="text" placeholder="Name and Surname" class="border-2 rounded-full px-2 my-2 w-1/2">
                <input type="email" placeholder="Email" class="border-2 rounded-full px-2 my-2">
                <button mat-button color="primary" class="bg-red-200 w-1/5">Send</button>
            </div>
        </div>
        <div class="sm:hidden flex flex-col">
            <input type="text" placeholder="Name and Surname" class="border-2 rounded-full px-2 my-2">
            <input type="email" placeholder="Email" class="border-2 rounded-full px-2 my-2">
            <textarea name="" id="" cols="30" rows="10" class="border-2 my-2 rounded"></textarea>
            <button mat-button color="primary" class="bg-red-200 w-1/5">Send</button>
        </div>
    </div>

</div>