<div class="w-screen h-auto bg-black mt-10 text-white">

    <div class="sm:flex sm:flex-row flex flex-col justify-center w-full pt-10">
        <img src="" alt="personal_logo" class="mx-5 sm:mx-0">
        <div class="fle flex-col ">
        <h2 class="text-light text-xl mx-5 sm:mx-32">Working with talent and passion are my strong point.
            <br>
            I'd love to build something great together.
        </h2>
        <p class="text-right mx-5 sm:mx-32 my-4"><a href="mailto:filippo.erbisti@gmail.com" class="underline">Work with me</a></p>
    </div>
    </div>
    <div class="w-2/3 flex justify-center mx-auto sm:w-full">
        <div class="flex flex-col sm:grid sm:grid-cols-3 sm:gap-32 mt-8">
            <div class="mb-4">
                <h1 class="border-b-2 text-2xl mb-4 pb-4">Address</h1>
                <p>Via Valena, 6 
                    <br>
                    San Pietro in Cariano 
                    <br>
                    37029
                    <br>
                    Verona (VR)
                </p>
            </div>
            <div class="my-4">
                <h1 class="border-b-2 text-2xl mb-4 pb-4">Contact</h1>
                <p>+39 348 2359226</p>
                <a href="mailto:filippo.erbisti@gmail.com" class="hover:underline">filippo.erbisti@gmail.com</a>
            </div>
            <div class="my-4">
                <h1 class="border-b-2 text-2xl mb-4 pb-4">Social</h1>
                <div class="flex">
                    <div class="rounded-full bg-white p-2 w-10 h-10 mt-2 mr-2">
                        <a href="https://www.instagram.com/filippo.erbisti">
                            <img class="hover:scale-110" src="https://img.icons8.com/ios/50/000000/instagram-new--v1.png" alt="icon_instagram">
                        </a>
                    </div>
                    <div class="rounded-full bg-white p-2 w-10 h-10 mt-2 mx-2">
                        <a href="https://it.linkedin.com/in/filippo-erbisti-1783a9202">
                            <img class="hover:scale-110" src="https://img.icons8.com/ios/50/000000/linkedin.png" alt="icon_linkedin">
                        </a>
                    </div>
                    <div class="rounded-full bg-white p-2 w-10 h-10 mt-2 ml-2">
                        <a href="https://github.com/filippoerbisti">
                            <img class="hover:scale-110" src="https://img.icons8.com/ios-glyphs/30/000000/github.png" alt="icon_github">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-right py-10 mr-10">Filippo Erbisti, 2022. © All rights reserved.</p>
</div>
